:root {
  --navbar-width: 100px;             /* ancho reducido */
  --navbar-width-expanded: 200px; 
  --navbar-width-expanded2: 250px;   /* ancho expandido */
}

.left-navbar {
  width: var(--navbar-width);
  min-height: 100vh;
  background: #1976d2;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1050;
  padding-top: 1rem;
  justify-content: center;
  transition: width 0.3s ease

}

.left-navbar:hover {
  width: var(--navbar-width-expanded);
}

.navbar-icon-top {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.left-navbar-link {
  color: #fff !important;
  text-align: center;
  padding: 1.2rem 0;
  width: 100%;
  font-size: 1.1em;
  border: none !important;
  background: none !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.left-navbar-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente los botones */
  width: 100%;
}

.left-navbar .nav-link:hover,
.left-navbar-link:hover {
  background: #1565c0;
  color: #fff !important;}

.navbar-link-icon {
  font-size: 1.5em;
}

.navbar-link-text {
  font-size: 0.95em;
}

.left-navbar.expanded {
  width: var(--navbar-width-expanded2);
  transition: width 0.3s ease;
}

/* Subitems con colores invertidos */
.sub-link {
  background: #fff !important;
  color: #1976d2 !important;
  text-align: left;
  padding: 0.8rem 0.5rem;
  width: 99%;
  font-size: 0.95em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 4px;
  border: 2px solid transparent;
  margin: 4px 1px;
  transition: all 0.3s ease;
}

/* Ícono de los subitems también en azul */
.sub-link .navbar-link-icon {
  color: #1976d2 !important;
}

/* Hover: invertimos de nuevo para dar feedback */
.sub-link:hover {
  background: #1976d2 !important;
  color: #fff !important;
  border: 2px solid #fff;
}

.sub-link:hover .navbar-link-icon {
  color: #fff !important;
}